*p{
    margin: 10px;
}

#portfolio-header{
    color: rgb(235, 19, 19);
}

.portfolio-para{
    color: rgb(22, 29, 244);
}

.portfolio-para1{
    color: rgb(244, 177, 22);
}

.portfolio-para2{
    color: rgb(226, 22, 244);
}

.portfolio-para3{
    color: rgb(7, 118, 174);
}